[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-runner = "*"
ansible = "*"
schedule = "*"
python-decouple = "*"
openshift = "*"
kubernetes = "*"

[dev-packages]

[requires]
python_version = "3.9"
